.form-container{
  color: aliceblue;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.input-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

}
label ,  input{
  color: black;
  font-size: 1rem;
  font-weight: bold;
  margin: .5rem;
  width: 100%;
  text-align: center;
  
}
button{
  background-color: rgb(69, 233, 233);
  border: none;
  font-weight: bold;
  padding: .3rem;
  border-radius: 1rem;
}
button:hover{
  background-color: rgb(27, 210, 210);

}
.heading{
  font-size: 4rem;
  font-weight: bolder;
}
.weather-conatiner{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0;
}